<div class="container-fluid">
    <div class="drop">
        <div class="drop-add">
            <mat-toolbar>
                <button class="load"><span (click)="load()">DEPENDENCIAS</span></button>
                <button (click)="add()" mat-icon-button *ngIf="userType === 'user' || userType === 'root'">
                    <mat-icon>add</mat-icon>
                </button>
            </mat-toolbar>
        </div>
        <div class="drop-filter">
            <mat-form-field class="form-filter">
                <mat-label>Buscar Dependencia/Sigla/Tipo</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Dependencia/Sigla/Tipo" #input>
                <button mat-icon-button matSuffix *ngIf="input.value !== ''" (click)="clearInput(input)">
                    <mat-icon>clear</mat-icon>
                </button>
            </mat-form-field>
        </div>

        <div class="drop-selection">
            <mat-form-field class="">
                <mat-label>Estado</mat-label>
                <mat-select (selectionChange)="estadoSeleccion($event)" [(ngModel)]="filtrarEstado"
                    [disabled]="searchEstado">
                    <mat-option value="none">Todos</mat-option>
                    <mat-option value="true">Habilitados</mat-option>
                    <mat-option value="false">Deshabilitados</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div>
        <div class="form-table">
            <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                </ng-container>

                <ng-container matColumnDef="sigla">
                    <th mat-header-cell *matHeaderCellDef> Sigla </th>
                    <td mat-cell *matCellDef="let element"> {{element.sigla}} </td>
                </ng-container>

                <ng-container matColumnDef="tipo">
                    <th mat-header-cell *matHeaderCellDef> Tipo </th>
                    <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
                </ng-container>

                <ng-container matColumnDef="dependiente">
                    <th mat-header-cell *matHeaderCellDef> Dependiente </th>
                    <td mat-cell *matCellDef="let element"
                        [ngStyle]="{'color': element.id_dependencia ? '' : 'rgb(253, 181, 181)'}">
                        {{element.id_dependencia? element.id_dependencia.nombre:"Sin
                        dependiente"}} </td>
                </ng-container>

                <ng-container matColumnDef="estado">
                    <th mat-header-cell *matHeaderCellDef> Estado </th>
                    <td mat-cell *matCellDef="let element">
                        <span *ngIf="element?.estado !== false ">
                            <span class="badge bg-success">Habilitado</span>
                        </span>
                        <span *ngIf="element?.estado === false">
                            <span class="badge bg-danger">Deshabilitado</span>
                        </span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="options">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element" class="form-options">
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon style="color: rgba(1, 255, 242, 0.808);">more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="edit(element)">
                                <mat-icon style="color: rgb(84, 209, 147);">edit</mat-icon>
                                <span>Editar</span>
                            </button>
                            <button mat-menu-item (click)="estado(element)"
                                *ngIf="userType === 'user' || userType === 'root'">
                                <mat-icon
                                    [ngStyle]="{'color': element.estado ? 'rgb(253, 181, 181)' : 'rgb(44, 253, 243)'}">autorenew</mat-icon>
                                <span>{{element.estado ? "Deshabilitar" : "Habilitar"}}</span>
                            </button>
                            <button mat-menu-item (click)="delete(element)" *ngIf="userType === 'root'">
                                <mat-icon style="color: royalblue;">delete</mat-icon>
                                <span>Eliminar</span>
                            </button>
                        </mat-menu>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <tr *matNoDataRow>
                    <td colspan="6">No hay datos que coincidan con el filtro.</td>
                </tr>
            </table>
            <mat-paginator [pageSizeOptions]="[8, 10, 15, 20, 50]" showFirstLastButtons>
            </mat-paginator>
        </div>

    </div>