.form-container {
  max-width: 660px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form {
  padding-top: 1.5%;
  padding-left: 5%;
  display: flex;
  width: 100%;
  overflow-y: hidden;
}

.form-hidden {
  width: 100%;
  padding-top: 1.5%;
  padding-left: 5%;
  display: flex;
}

.full-width {
  width: 100%;
}

.form-select {
  max-width: 30%;
}

.form-select-1 {
  max-width: 160px;
  max-height: 78px;
}

.form-select-space {
  margin-left: 1%;
}

.form-select-2 {
  width: 65%;
}

.form-select-3 {
  width: 65%;
}

.form-select-group {
  display: flex;
  justify-content: space-between;
}

.form-radio {
  display: flex;
  flex-direction: column;
}

.form-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-send {
  min-width: 150px;
  margin-left: 5px;
  text-transform: uppercase;
}

.container-dep {
  height: 20vh;
  overflow-y: auto;
  overflow-x: auto;
  background-color: #3a3a3a;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.icon-remove {
  color: rgba(248, 70, 70, 0.918);
}

.item-title {
  white-space: normal; /* Permite que el texto se envuelva en varias líneas */
  overflow: visible; /* Asegura que el texto desbordado sea visible */
  word-wrap: break-word; /* Permite que las palabras largas se rompan */
  flex-grow: 1; /* Permite que el contenedor de texto crezca para ocupar el espacio disponible */
  transition: color 0.3s ease;
}
