.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  display: flex;
  margin: 16px 0 16px 8px;
  margin-left: 8px;
  font-size: 20px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
  background-color: #041629;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}
mat-sidenav {
  width: 200px;
}

.icon {
  display: flex;
  align-items: left;
}

.icon span {
  margin-left: 8%;
}

/*cambiar color hover menu*/
a:hover * {
  transition: 1.5ms;
  font-size: 17px;
  color: rgb(44, 253, 243);
}

/*cambiar color fondo menu*/
mat-sidenav {
  background-image: linear-gradient(
    to right,
    rgba(0, 204, 255, 0.356) 0%,
    /*#242424 90%*/ #001d3da4 90%
  );
  background-color: black;
  border-right: 1px solid rgb(44, 253, 243);
}

.example-toolbar {
  background-image: radial-gradient(
    circle farthest-corner at 50.4% 50.5%,
    rgba(44, 253, 243, 0.445) 0%,
    #001d3da4 70%
  );
}

.title-navbar {
  width: 100%;
  display: flex;
  align-items: left;
  justify-content: space-between;
}

.account {
  display: flex;
  flex-direction: row;
  align-items: center;
}
