.drop {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  margin-top: 0.4%;
  justify-content: space-between;
}

.drop div {
  padding-left: 5px;
}

.drop-filter {
  width: 62%;
}

.drop-add {
  display: flex;
  min-width: 230px;
  padding: 0;
  margin: 0;
}

.load {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  transition: 500ms;
}

.load:hover {
  color: rgb(44, 253, 243);
  box-shadow: inset;
}

.drop-add mat-toolbar {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  height: 80%;
  font-size: 15px;
}
.drop-add mat-toolbar span {
  padding-top: 2%;
}

.form-filter {
  width: 100%;
}

.form-table {
  margin-top: -1.2%;
}

.form-options {
  width: 9%;
  padding: 0;
  margin: 0;
}
.menu-top {
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 2000px) {
  .form-table {
    margin-top: -0.5%;
  }
}
