<div class="container-fluid">
    <div class="drop"></div>
    <div>
        <mat-tab-group (selectedTabChange)="tabSelected($event)" [backgroundColor]="'warn'">
            <mat-tab label="ESCALA GENERAL ITEM">
                <div class="card-header">
                    <span>Escala Salarial General ITEM</span>
                    <button mat-icon-button (click)="exportadoItems()" class="icon-button">
                        <mat-icon class="download-icon" (click)="exportadoItems()">cloud_download</mat-icon>
                    </button>
                </div>
                <div class="form-table">
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                        <ng-container matColumnDef="categoria">
                            <th mat-header-cell *matHeaderCellDef class="header">Categoria</th>
                            <td mat-cell *matCellDef="let element">{{ element.categoria }}</td>
                        </ng-container>

                        <ng-container matColumnDef="nivel">
                            <th mat-header-cell *matHeaderCellDef class="header">Nivel Salarial</th>
                            <td mat-cell *matCellDef="let element" class="celda">
                                <div *ngFor="let nivel of element.niveles; let i = index">
                                    <div class="element">{{ nivel.nivel }}</div>
                                    <hr class="separator" *ngIf="i < element.niveles.length">
                                </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="denominacion">
                            <th mat-header-cell *matHeaderCellDef class="header">Denominación Del Puesto</th>
                            <td mat-cell *matCellDef="let element" class="celda denominacion">
                                <div *ngFor="let denominacion of element.denominaciones; let i = index">
                                    <div class="element">{{ denominacion.denominacion }}</div>
                                    <hr class="separator" *ngIf="i < element.denominaciones.length">
                                </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="items">
                            <th mat-header-cell *matHeaderCellDef class="header">Nº De Items</th>
                            <td mat-cell *matCellDef="let element" class="celda">
                                <div *ngFor="let item of element.items; let i = index" class="center">
                                    <div class="element">{{ item.item }}</div>
                                    <hr class="separator" *ngIf="i < element.items.length">
                                </div>
                            </td>
                            <td mat-footer-cell *matFooterCellDef class="center celda total-cell">{{ this.cantidadItems
                                }}
                                <hr class="separator">
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="sueldo">
                            <th mat-header-cell *matHeaderCellDef class="header">Haber Básico</th>
                            <td mat-cell *matCellDef="let element" class="celda">
                                <div *ngFor="let sueldo of element.sueldos; let i = index" class="center">
                                    <div class="element">{{ sueldo.sueldo }}</div>
                                    <hr class="separator" *ngIf="i < element.sueldos.length">
                                </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="costo_mensual">
                            <th mat-header-cell *matHeaderCellDef class="header">Costo Mensual</th>
                            <td mat-cell *matCellDef="let element" class="celda">
                                <div *ngFor="let mensual of element.mensuales; let i = index" class="center">
                                    <div class="element">{{ mensual.mensual }}</div>
                                    <hr class="separator" *ngIf="i < element.mensuales.length">
                                </div>
                            </td>
                            <td mat-footer-cell *matFooterCellDef class="center celda">Bs. {{ this.totalMensualItem }}
                                <hr class="separator">
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="costo_anual">
                            <th mat-header-cell *matHeaderCellDef class="header">Costo Anual</th>
                            <td mat-cell *matCellDef="let element" class="celda">
                                <div *ngFor="let anual of element.anuales; let i = index" class="center">
                                    <div class="element">{{ anual.anual }}</div>
                                    <hr class="separator" *ngIf="i < element.anuales.length">
                                </div>
                            </td>
                            <td mat-footer-cell *matFooterCellDef class="center celda">Bs. {{ this.totalAnualItem }}
                                <hr class="separator">
                            </td>
                        </ng-container>

                        <!-- Columna para el pie de página -->
                        <ng-container matColumnDef="total-items">
                            <td mat-footer-cell *matFooterCellDef colspan="3" class="total-cell celda total-aling">
                                Total Número de Items
                                <hr class="separator">
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="total_mensual">
                            <td mat-footer-cell *matFooterCellDef colspan="5" class="total-cell celda total-aling">Total
                                Costo
                                Mensual
                                <hr class="separator">
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="total_anual">
                            <td mat-footer-cell *matFooterCellDef colspan="6" class="total-cell celda total-aling">Total
                                Costo
                                Anual
                                <hr class="separator">
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        <!-- Fila adicional para mostrar el total de ítems -->
                        <tr mat-footer-row *matFooterRowDef="['total-items', 'items']; sticky: true"></tr>
                        <tr mat-footer-row *matFooterRowDef="['total_mensual', 'costo_mensual']; sticky: true"></tr>
                        <tr mat-footer-row *matFooterRowDef="['total_anual', 'costo_anual']; sticky: true"></tr>
                    </table>
                </div>
            </mat-tab>

            <mat-tab label="EVENTUAL"></mat-tab>
        </mat-tab-group>
    </div>
</div>