.alert {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: rgb(49, 49, 49);
  opacity: 0.9;
  color: rgb(189, 189, 189);
}

.icon {
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e73737;
}

.icon mat-icon {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 85px;
  color: red;
}
.content {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 2px;
}
.content p {
  text-align: center;
  font-size: 18px;
}
.buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.buttons .on {
  background-color: rgb(216, 216, 216);
  color: black;
}
.buttons .on:hover {
  background-color: black;
  color: white;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}
